aria/n8n/workflows/daily-briefing.json
{
  "name": "ARIA — Daily Briefing",
  "nodes": [
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "7 AM Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 7 * * *" }]
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Get Tasks Due Today",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [460, 180],
      "parameters": {
        "operation": "getAll",
        "tableId": "aria_tasks",
        "returnAll": true,
        "filters": {
          "conditions": [
            { "keyName": "status", "condition": "neq", "keyValue": "completed" },
            { "keyName": "due_date", "condition": "lte", "keyValue": "={{ new Date().toISOString().split('T')[0] }}" }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase API"
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Get Pending Follow-ups",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [460, 340],
      "parameters": {
        "operation": "getAll",
        "tableId": "aria_follow_ups",
        "returnAll": true,
        "filters": {
          "conditions": [
            { "keyName": "status", "condition": "neq", "keyValue": "done" },
            { "keyName": "due_date", "condition": "lte", "keyValue": "={{ new Date().toISOString().split('T')[0] }}" }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase API"
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Get Recent Emails",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [460, 500],
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "limit": 10,
        "filters": {
          "labelIds": ["UNREAD", "INBOX"]
        },
        "options": { "format": "resolved" }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Build Briefing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Collect data from all branches\nconst tasks = $('Get Tasks Due Today').all().map(i => i.json);\nconst followUps = $('Get Pending Follow-ups').all().map(i => i.json);\nconst emails = $('Get Recent Emails').all().map(i => i.json);\n\nconst today = new Date().toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\n\nlet briefing = `Good morning! Here is your daily briefing for ${today}.\\n\\n`;\n\n// Tasks\nif (tasks.length > 0) {\n  briefing += `## Tasks Due Today (${tasks.length})\\n`;\n  tasks.forEach(t => {\n    briefing += `- ${t.title}${t.project_id ? ` [project]` : ''}\\n`;\n  });\n  briefing += '\\n';\n} else {\n  briefing += `## Tasks\\nNo tasks due today.\\n\\n`;\n}\n\n// Follow-ups\nif (followUps.length > 0) {\n  briefing += `## Pending Follow-ups (${followUps.length})\\n`;\n  followUps.forEach(f => {\n    briefing += `- Follow up with ${f.with_person || f.subject}: ${f.subject}\\n`;\n  });\n  briefing += '\\n';\n} else {\n  briefing += `## Follow-ups\\nNo overdue follow-ups.\\n\\n`;\n}\n\n// Emails\nif (emails.length > 0) {\n  briefing += `## Unread Emails (${emails.length})\\n`;\n  emails.slice(0, 5).forEach(e => {\n    const from = e.from?.value?.[0]?.address || e.from || 'unknown';\n    briefing += `- From ${from}: ${e.subject || '(no subject)'}\\n`;\n  });\n  briefing += '\\n';\n}\n\nbriefing += `Please acknowledge this briefing, highlight the top 3 priorities for today, and store this as today's daily log.`;\n\nreturn [{ json: { message: briefing } }];"
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000006",
      "name": "Send Briefing to ARIA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [920, 300],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:4000/api/aria/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"userId\": \"n8n-daily-briefing\",\n  \"message\": {{ JSON.stringify($json.message) }}\n}"
      }
    }
  ],
  "connections": {
    "7 AM Daily": {
      "main": [
        [
          { "node": "Get Tasks Due Today", "type": "main", "index": 0 },
          { "node": "Get Pending Follow-ups", "type": "main", "index": 0 },
          { "node": "Get Recent Emails", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Tasks Due Today": {
      "main": [[{ "node": "Build Briefing", "type": "main", "index": 0 }]]
    },
    "Get Pending Follow-ups": {
      "main": [[{ "node": "Build Briefing", "type": "main", "index": 0 }]]
    },
    "Get Recent Emails": {
      "main": [[{ "node": "Build Briefing", "type": "main", "index": 0 }]]
    },
    "Build Briefing": {
      "main": [[{ "node": "Send Briefing to ARIA", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "ARIA" }]
}
