aria/n8n/workflows/follow-up-reminder.json
{
  "name": "ARIA — Follow-up Reminder",
  "nodes": [
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000001",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 1 }]
        }
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000002",
      "name": "Get Overdue Follow-ups",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [460, 300],
      "parameters": {
        "operation": "getAll",
        "tableId": "aria_follow_ups",
        "returnAll": true,
        "filters": {
          "conditions": [
            { "keyName": "status", "condition": "neq", "keyValue": "done" },
            { "keyName": "due_date", "condition": "lt", "keyValue": "={{ new Date().toISOString().split('T')[0] }}" }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase API"
        }
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Skip If None Overdue",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $items().length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000004",
      "name": "Build Reminder Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 220],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const followUps = items.map(i => i.json);\n\nconst list = followUps.map((f, i) => {\n  const due = new Date(f.due_date);\n  const hoursOverdue = Math.floor((Date.now() - due.getTime()) / 3600000);\n  return `${i + 1}. ${f.subject}\\n   With: ${f.with_person || 'unspecified'}\\n   Overdue by: ${hoursOverdue}h`;\n}).join('\\n\\n');\n\nconst message = `Hourly follow-up check: You have ${followUps.length} overdue follow-up(s) that need attention:\\n\\n${list}\\n\\nPlease acknowledge these overdue follow-ups and suggest how to handle the most urgent one.`;\n\nreturn [{ json: { message, count: followUps.length } }];"
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000005",
      "name": "Notify ARIA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 220],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:4000/api/aria/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"userId\": \"n8n-follow-up-reminder\",\n  \"message\": {{ JSON.stringify($json.message) }}\n}"
      }
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [[{ "node": "Get Overdue Follow-ups", "type": "main", "index": 0 }]]
    },
    "Get Overdue Follow-ups": {
      "main": [[{ "node": "Skip If None Overdue", "type": "main", "index": 0 }]]
    },
    "Skip If None Overdue": {
      "main": [
        [{ "node": "Build Reminder Message", "type": "main", "index": 0 }],
        []
      ]
    },
    "Build Reminder Message": {
      "main": [[{ "node": "Notify ARIA", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "ARIA" }]
}
