aria/n8n/workflows/web-search-agent.json
{
  "name": "ARIA — Web Search Agent",
  "nodes": [
    {
      "id": "d4e5f6a7-0004-0004-0004-000000000001",
      "name": "Search Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "aria-web-search",
      "parameters": {
        "httpMethod": "POST",
        "path": "aria-search",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "d4e5f6a7-0004-0004-0004-000000000002",
      "name": "Validate Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "const body = $input.item.json.body || $input.item.json;\nconst query = body.query || body.message || '';\nconst userId = body.userId || 'aria-search';\n\nif (!query.trim()) {\n  throw new Error('Missing search query');\n}\n\nreturn [{ json: { query: query.trim(), userId } }];"
      }
    },
    {
      "id": "d4e5f6a7-0004-0004-0004-000000000003",
      "name": "DuckDuckGo Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 180],
      "parameters": {
        "method": "GET",
        "url": "=https://api.duckduckgo.com/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "q", "value": "={{ $json.query }}" },
            { "name": "format", "value": "json" },
            { "name": "no_html", "value": "1" },
            { "name": "skip_disambig", "value": "1" }
          ]
        }
      }
    },
    {
      "id": "d4e5f6a7-0004-0004-0004-000000000004",
      "name": "Format Search Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "jsCode": "const ddg = $('DuckDuckGo Search').item.json;\nconst query = $('Validate Request').item.json.query;\n\nlet results = [];\n\n// Abstract (instant answer)\nif (ddg.AbstractText) {\n  results.push(`**Summary:** ${ddg.AbstractText}\\nSource: ${ddg.AbstractURL}`);\n}\n\n// Related topics\nif (ddg.RelatedTopics && ddg.RelatedTopics.length > 0) {\n  const topics = ddg.RelatedTopics\n    .filter(t => t.Text)\n    .slice(0, 5)\n    .map((t, i) => `${i + 1}. ${t.Text}${t.FirstURL ? '\\n   ' + t.FirstURL : ''}`);\n  results.push(`**Related Results:**\\n${topics.join('\\n\\n')}`);\n}\n\nif (results.length === 0) {\n  results.push('No direct results found. Try a more specific query.');\n}\n\nconst summary = `Web search results for \"${query}\":\\n\\n${results.join('\\n\\n')}`;\n\nreturn [{ json: { summary, query, resultCount: results.length } }];"
      }
    },
    {
      "id": "d4e5f6a7-0004-0004-0004-000000000005",
      "name": "Send Results to ARIA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 300],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:4000/api/aria/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"userId\": {{ JSON.stringify($('Validate Request').item.json.userId) }},\n  \"message\": {{ JSON.stringify($json.summary) }}\n}"
      }
    },
    {
      "id": "d4e5f6a7-0004-0004-0004-000000000006",
      "name": "Return to Caller",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"query\": {{ JSON.stringify($('Validate Request').item.json.query) }},\n  \"summary\": {{ JSON.stringify($('Format Search Results').item.json.summary) }},\n  \"ariaReply\": {{ JSON.stringify($json.reply || '') }}\n}"
      }
    }
  ],
  "connections": {
    "Search Webhook": {
      "main": [[{ "node": "Validate Request", "type": "main", "index": 0 }]]
    },
    "Validate Request": {
      "main": [[{ "node": "DuckDuckGo Search", "type": "main", "index": 0 }]]
    },
    "DuckDuckGo Search": {
      "main": [[{ "node": "Format Search Results", "type": "main", "index": 0 }]]
    },
    "Format Search Results": {
      "main": [[{ "node": "Send Results to ARIA", "type": "main", "index": 0 }]]
    },
    "Send Results to ARIA": {
      "main": [[{ "node": "Return to Caller", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "ARIA" }]
}
